.mytitle {
    width: 100%;
    height: 250px;
    background-image: url("../static/images/banner.jpg");
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .back-color {
    width: 100%;
    background: rgba(245, 242, 242, 0.4);
  }
  .hello {
    width: 60%;
    margin-left: 30px;
    font-size: 32px;
    color: black;
  }
  .notice .promotion {
    height: 430px;
    background-color: white ;
    position: relative;
    overflow: hidden;
    transition: height  .4s;
  }
  .new {
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .notice .promotion.hide {
    height: 0;
  }
  /* 일치선택자 사용해야 함 */
  .notice .promotion .swiper {
    width: calc(819px * 3 + 20px);
    /* can use this calc with other. ex) calc(100% - 50px) */
    height: 300px;
    text-align: center;
    font-size: 200px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: calc((819px * 3 + 20px) / -2);
    /* push element 50% of whole width and pull it again 50% of width */
  }
  .notice .promotion .swiper-slide {
    opacity: .5;
    transition: opacity 1s;
    max-height: 100%;
  }
  .image-slide {
    margin-bottom: 200px;
    height: 300px;
  }
  .notice .promotion .swiper-slide-active {
    opacity: 1;
    max-height: 100%;
    }
  .notice .promotion .swiper-slide .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .notice .promotion .swiper-pagination {
    bottom: 40px;
    left: 0;
    right: 0;
  }
  .notice .promotion .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    background-image: url("../static/images/promotion_slide_pager.png");
    width: 12px;
    height: 12px;
    margin-right: 6px;
    outline: none;
  }
  .notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
  }
  .notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../static/images/promotion_slide_pager_on.png");
  }
  .notice .promotion .swiper-prev,
  .notice .promotion .swiper-next {
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
  }
  /* muliti indicator, since we will repeat the same code, but we should do brake to clarify two indicators */
  
  .notice .promotion .swiper-prev {
    left: 50%;
    margin-left: -480px;
  }
  .notice .promotion .swiper-next {
    right: 50%;
    margin-right: -480px;
  }
  .notice .promotion .swiper-prev:hover,
  .notice .promotion .swiper-next:hover {
    background-color: #333;
    color: #fff;
  }
  .mycards {
    margin: 10px auto 10px auto;
    width: 95%;
    max-width: 2000px;
    justify-content: center;
    align-items: center;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: auto;
    border: 0ch;
    box-sizing: border-box;
    text-align: center;
  }
  
  .img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
  }
  
  .img-box>img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin: 0px auto;
    box-sizing: border-box;
    text-align: center;
  }
  
  .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 20px auto;
  }
  
  .card-text {
    justify-content: center;
  }
  
  .card-ingredient {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  
  .card-feature {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  