<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>로그인페이지</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>

    <!-- menu css file -->
    <link rel="stylesheet" href="../static/main.css" />

    <style>
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .logo {
            height: 50px;
            margin-bottom: -20px;
        }

        .box {
            width: 500px;
            height: 400px;

            position: absolute;
            margin: -150px 0px 0px -200px;
            top: 50%;
            left: 50%;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>

    <script>
        //      {% if msg %}
        //          alert("{{ msg }}")
        //      {% endif %}

        function sign_in() {
            let username = $("#input-username").val();
            let password = $("#input-password").val();
            //           { #간단히 빈칸인지만 검사# }
            if (username == "") {
                alert('아이디를 입력해주세요');
                $("#input-username").focus();
                return;
            } else if (password == "") {
                alert("비밀번호를 입력해주세요.");
                $("#input-password").focus();
                return;
            } else {
                $.ajax({
                    type: "POST",
                    url: "/sign_in",
                    data: {
                        username_give: username,
                        password_give: password
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            $.cookie('mytoken', response['mytoken'], { path: '/home' });
                            window.location.assign("/home")
                        } else {
                            alert(response['msg'])
                        }
                    }
                });
            }
        }
    </script>
</head>

<body>
    <header>
        <div class="inner">
            <a href="/">
                <img class="logo" src="../static/images/logo.jpeg" alt="우리술" />
            </a>
        </div>
    </header>
    <div class="mytitle">
        <div class="back-color">
            <p class="hello">우리 술을 공유하고, <br /> 사람들과 자유롭게 의견을 나눠보세요!</p>
        </div>
    </div>

    <form class="box">
        <div class="field">
            <label class="label">ID</label>
            <div class="control">
                <input id="input-username" class="input" type="id" placeholder="아이디 입력">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input id="input-password" class="input" type="password" placeholder="비밀번호 입력">
            </div>
        </div>

        <div class="btn">
            <button type="button" class="btn btn-outline-secondary" onclick="sign_in()">로그인</button>
            {# <a class="button is-primary" onclick="sign_in()">로그인</a>#}
            <a class="btn btn-outline-secondary" onclick="window.location.href='/join'">회원가입</a>
        </div>
    </form>
</body>

</html>